* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.contenedor {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.superior {
  display: flex;
  flex: 3;
}

.a {
  flex: 2;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.b, .c {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b {
  background-color: magenta;
  color: black;
}

.c {
  background-color: pink;
  color: black;
}

.d {
  flex: 1;
  background-color: darkgreen;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}